In [8]:
from nis import match
from pathlib import Path
import pandas as pd
import os
import yaml
import re

In [15]:
def parse_grid_results(grid_output_dir):
    data = []
    dirs = [str(d) for d in Path(grid_output_dir).rglob("*") if d.is_dir()]
    for d in dirs:
        with open(f"{d}/model_cfg.yaml") as f:
            opt_cfg = yaml.safe_load(f)['optimizer']
        
        ## find all k-folds statistics
        pattern = re.compile(r'training_epoches\.k\d+\.tsv$')
        matching_files = []
        for file in os.listdir(d):
            if pattern.match(file):  # Match the pattern
                matching_files.append(os.path.join(d, file))
        
        val_loss = []
        for f in matching_files:
            df = pd.read_csv(f, sep='\t')
            best_val_error = df['val_loss'].min()
            val_loss.append(best_val_error)
            
        val_loss = sorted(val_loss)
        second_val = val_loss[1]
            
        data.append({'lr': opt_cfg['lr'], 
                     'wd': opt_cfg['weight_decay'], 
                     'beta1': opt_cfg['beta1'],
                     'beta2': opt_cfg['beta2'],
                     'val_loss': val_loss,
                     '2nd_val_loss': second_val})
    return pd.DataFrame(data)

In [16]:
master_dir = '/home/zhaoyang-new/School_Work/cse251b_project/model_outs/GS_LSTM_4096'
parse_grid_results(master_dir)

,lr,wd,beta1,beta2,val_loss,2nd_val_loss
0,0.001,0.00010,0.00100,0.85,"[0.3061, 0.4285, 0.4306, 0.4638]",0.4285
1,0.001,0.00010,0.00150,0.95,"[0.3184, 0.3758, 0.3866, 0.4213]",0.3758
2,0.001,0.00001,0.00100,0.95,"[0.3929, 0.4669, 0.4853, 0.9623]",0.4669
3,0.001,0.00100,0.00150,0.95,"[0.4425, 1.062, 1.1299, 1.3942]",1.0620
4,0.001,0.00100,0.00100,0.85,"[0.4186, 0.4519, 1.0467, 1.0984]",0.4519
5,0.001,0.00100,0.00150,0.85,"[0.5352, 0.6259, 1.0725, 1.2053]",0.6259
6,0.001,0.00001,0.00150,0.95,"[0.3252, 0.367, 0.3791, 0.5457]",0.3670
7,0.001,0.00100,0.00075,0.85,"[0.3786, 0.4176, 0.45, 0.5664]",0.4176
8,0.001,0.00010,0.00150,0.85,"[0.3317, 0.3748, 0.381, 0.5618]",0.3748
9,0.001,0.00001,0.00100,0.85,"[0.2911, 0.3282, 0.3953, 0.4266]",0.3282
10,0.001,0.00010,0.00100,0.95,"[0.2959, 0.325, 0.4448, 0.4657]",0.3250
11,0.001,0.00010,0.00100,0.90,"[0.3082, 0.3195, 0.3292, 0.5238]",0.3195
12,0.001,0.00010,0.00075,0.85,"[0.4246, 0.4714, 0.475, 0.524]",0.4714
13,0.001,0.00001,0.00075,0.85,"[0.3723, 0.4687, 0.6482, 1.1322]",0.4687
14,0.001,0.00010,0.00150,0.90,"[0.3019, 0.8715, 1.0641, 1.1944]",0.8715
15,0.001,0.00100,0.00100,0.90,"[0.4174, 0.5229, 0.6888, 1.0812]",0.5229
16,0.001,0.00001,0.00075,0.90,"[0.2887, 0.3092, 0.4456, 0.5882]",0.3092
17,0.001,0.00001,0.00075,0.95,"[0.3334, 0.4108, 0.4554, 1.0446]",0.4108
18,0.001,0.00001,0.00150,0.90,"[0.2929, 0.3289, 0.4209, 0.4838]",0.3289
19,0.001,0.00100,0.00150,0.90,"[0.5529, 0.5935, 1.1015, 1.3881]",0.5935
20,0.001,0.00100,0.00075,0.95,"[0.4731, 0.8872, 1.0678, 1.2009]",0.8872
21,0.001,0.00100,0.00075,0.90,"[0.5178, 0.5473, 0.5523, 0.6746]",0.5473
22,0.001,0.00001,0.00100,0.90,"[0.2962, 0.3203, 0.3288, 0.3299]",0.3203
23,0.001,0.00100,0.00100,0.95,"[0.5257, 0.5399, 0.5813, 1.176]",0.5399
24,0.001,0.00010,0.00075,0.90,"[0.3525, 0.3667, 0.4167, 0.4622]",0.3667
25,0.001,0.00001,0.00150,0.85,"[0.3016, 0.3558, 0.4252, 1.4256]",0.3558
26,0.001,0.00010,0.00075,0.95,"[0.3194, 0.4482, 0.4878, 0.6517]",0.4482